body{
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-app-region: drag;
	background-color: rgba(255,255,255,0.2);
}

#wrapper {
	display: block;
}

#circle {
	position: relative;
	margin: 0 auto;
	/*width: 200px;
	height: 200px;*/
}

img {
    width: auto;
    height: 180px;
    vertical-align: top;
    border-radius: 50%;
    margin-left: 70px;
	margin-top: 30px;
}
  
canvas {
    position: absolute;
    /*left: 0;
    top: 0;*/
}

#people {
	color: #ffffff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 25px;
	font-family: 'Century Gothic';
	margin-bottom: 10px;
	margin-top: 20px;
}

#keywords {
	color: #ffffff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-top: 40px;
	margin-left: 65px;
	left: 0;
	font-size: 25px;
	font-family: 'Century Gothic';
}